[submodule "nexus/wasm-video"]
	path = nexus/wasm-video
	url = https://github.com/workbooks-sh/wavelet
[submodule "tiny-lasers"]
	path = tiny-lasers
	url = https://github.com/workbooks-sh/tiny-lasers.git
[submodule "autopoet"]
	path = autopoet
	url = https://github.com/workbooks-sh/autopoet.git
